@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');

@layer base {
  body {
    font-family: sans-serif;
  }

  li {
    @apply px-4;
    @apply cursor-pointer
  }

}

.logo {
 
  font-weight: 600;
}

.name {
  font-family: 'Annie Use Your Telescope', cursive;
  color: #448AFF;
  
}


.link {
  display: inline-block;
  position: relative;

}

.link::after {

  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #448AFF;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link:hover::after {
  transform: scaleX(0.5);
  transform-origin: bottom left;


}

.link:active::after {
  transform: scaleX(1);
  transform-origin: bottom right;

}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient(to top,
      rgba(68, 138, 255,1),
      hsla(0, 0%, 30%, 0.8)) !important;

}

.vertical {
  border: 5px;
  height: 100%;
  border-radius: 30%;
  border-style: dashed;

}
